node-red/app/flows/balena.json
[{
    "id": "9cc05709.c67948",
    "type": "tab",
    "label": "Supervisor"
}, {
    "id": "7b3c835.42a197c",
    "type": "device",
    "z": "9cc05709.c67948",
    "name": "device state",
    "x": 290,
    "y": 100,
    "wires": [
        ["a558696e.8d6a58"]
    ]
}, {
    "id": "a558696e.8d6a58",
    "type": "debug",
    "z": "9cc05709.c67948",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 530,
    "y": 80,
    "wires": []
}, {
    "id": "8409e5a5.c42218",
    "type": "inject",
    "z": "9cc05709.c67948",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 80,
    "wires": [
        ["7b3c835.42a197c"]
    ]
}, {
    "id": "71dc1612.c5a5b8",
    "type": "ping",
    "z": "9cc05709.c67948",
    "name": "ping supervisor",
    "x": 300,
    "y": 160,
    "wires": [
        ["6ccb806.e54788"]
    ]
}, {
    "id": "6ccb806.e54788",
    "type": "debug",
    "z": "9cc05709.c67948",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 530,
    "y": 140,
    "wires": []
}, {
    "id": "33d9d041.abcaf",
    "type": "inject",
    "z": "9cc05709.c67948",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 140,
    "wires": [
        ["71dc1612.c5a5b8"]
    ]
}, {
    "id": "d0264e40.37d05",
    "type": "blink",
    "z": "9cc05709.c67948",
    "name": "blink LED",
    "x": 280,
    "y": 220,
    "wires": [
        ["86799168.15833"]
    ]
}, {
    "id": "a9c0e5a5.a56b18",
    "type": "inject",
    "z": "9cc05709.c67948",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 200,
    "wires": [
        ["d0264e40.37d05"]
    ]
}, {
    "id": "86799168.15833",
    "type": "debug",
    "z": "9cc05709.c67948",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 530,
    "y": 200,
    "wires": []
}, {
    "id": "3a2b2271.e1618e",
    "type": "restart",
    "z": "9cc05709.c67948",
    "name": "restart container",
    "x": 300,
    "y": 280,
    "wires": [
        ["327ce3e4.ef82fc"]
    ]
}, {
    "id": "9cfd3e14.edb96",
    "type": "inject",
    "z": "9cc05709.c67948",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 260,
    "wires": [
        ["3a2b2271.e1618e"]
    ]
}, {
    "id": "327ce3e4.ef82fc",
    "type": "debug",
    "z": "9cc05709.c67948",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 530,
    "y": 260,
    "wires": []
}, {
    "id": "65836558.590aac",
    "type": "purge",
    "z": "9cc05709.c67948",
    "name": "purge data partition",
    "x": 310,
    "y": 400,
    "wires": [
        ["63c3d14.445573"]
    ]
}, {
    "id": "d1e3768f.f61a28",
    "type": "inject",
    "z": "9cc05709.c67948",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 320,
    "wires": [
        ["78f897ea.317e68"]
    ]
}, {
    "id": "1e42ca5c.3ea2b6",
    "type": "inject",
    "z": "9cc05709.c67948",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 380,
    "wires": [
        ["65836558.590aac"]
    ]
}, {
    "id": "cf8e1b03.362578",
    "type": "debug",
    "z": "9cc05709.c67948",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 530,
    "y": 320,
    "wires": []
}, {
    "id": "63c3d14.445573",
    "type": "debug",
    "z": "9cc05709.c67948",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 530,
    "y": 380,
    "wires": []
}, {
    "id": "78f897ea.317e68",
    "type": "reboot",
    "z": "9cc05709.c67948",
    "name": "reboot device",
    "x": 300,
    "y": 340,
    "wires": [
        ["cf8e1b03.362578"]
    ]
}, {
    "id": "9a4a17fb.b0fcf8",
    "type": "inject",
    "z": "9cc05709.c67948",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 440,
    "wires": [
        ["dc1fc581.286e38"]
    ]
}, {
    "id": "dc1fc581.286e38",
    "type": "shutdown",
    "z": "9cc05709.c67948",
    "name": "shutdown device",
    "x": 310,
    "y": 460,
    "wires": [
        ["ba67e108.0a268"]
    ]
}, {
    "id": "ba67e108.0a268",
    "type": "debug",
    "z": "9cc05709.c67948",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 530,
    "y": 440,
    "wires": []
}]
